@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Playfair+Display:wght@500&display=swap')
;


.center {
margin: 0px,0px,8px,0px;
}
.bread{
	font-family: 'ubuntu';
	font-size: small;
	padding-left: 1%;
	}
 
	.bread-link{
		text-decoration: none;
		font-family:'ubuntu';
		color: black;
		
		
	}


.viewArticle{
	font-family:'Playfair Display';
	font-size:130%;
	
	
}
.articleHead{
	font-family: 'EB Garamond';
	font-size: xx-large;
	line-height:120%;
}

.lead{
	font-family: 'ubuntu';
	font-size: medium;
}

.spinner {
  display: block;
  position: fixed;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: 50%;
  right: 50%; /* or: left: 50%; */
color  : #002D62;
}

.subTopicContainer{
 flex: 1 0 auto;
}