.course-header-title{
    color: rgb(3, 48, 100);
    font-weight: bold;
    
}
.course-header-content{
    color: rgb(3, 48, 100);
    font-weight:lighter;
    
}
.head-back{
    background: rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(3px);
/* Note: backdrop-filter has minimal browser support */
    padding: 3%;
    border-radius: 37px;
}

.coursecard{
    background: rgb(0, 35, 63);
    color: rgb(249, 252, 255);
    border-color: rgb(0, 2, 15);
    border-width: 1px;
    border-radius: 10px;
}

.course-card-img{
    width: 20%;
    align-self: center;
    
    border-radius: 10px;
    
}
.card-course{
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
border-radius: 9px;

}
.card-course{
    background:rgb(255, 255, 255);
    border-radius: 10px;
    font-family: "Raleway";
    transition: margin-top 300ms;

    
    
}
.card-course:hover{
    background:rgb(255, 255, 255);
    border-radius: 10px;
    font-family: "Raleway";
    border-color: aquamarine;
    border-width: 1px;
    margin-top: -10px;
    
    
} 

.card-course-img{
    width: 100%;
    height: 10vw;
    object-fit: cover;
    
}
.card-course-title{
    font-weight: 800;
    font-size: 20px;
    color: rgb(2, 44, 83);
    text-align: center;
}
.card-course-body{
    font-family: "Roboto";
    font-weight: 500;
    text-align: center;
    color: rgb(2, 16, 54);
}

.card-author{
    font-weight: 400;
    font-family: 'ubuntu';
    text-align: center;
    background: radial-gradient(100% 1555.86% at 0% 21.3%, #006371 0%, #094E6C 37.5%, #064885 70.65%, #122AA6 100%);
    color: rgb(235, 250, 255);

}
.openSubtopcic{
    background: radial-gradient(100% 1555.86% at 0% 21.3%, #E6FCFF 0%, #6ED7CA 37.5%, #EFD6FF 70.65%, #FFD7FB 100%);
    font-family: 'ubuntu';
    font-weight: 500;
    font-size:large;
    color: rgb(0, 23, 99);
}
/* new */

